<h1> EAT SUM BURGERZ </h1>

<div class = "container">
<img src="/assets/catburger.jpg" width="200px" height="200" alt="burger.png">

<div id="newBurger">
    <h2>Ze awesome burgers</h2>
    <ul>
    {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}}<button data-id="{{id}}">Eat eeet!!</button></li>
        {{/unless}}
    {{/each}}
    </ul>
</div>

<div id="alreadyEaten">
    <h2>*Munch*</h2>
    <ul>
    {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li> 
        {{/if}}
    {{/each}}
    </ul>
</div>

<br>

<form>
    <textarea type="text" name="burger"></textarea> 
    <input type="submit" id="submit" value="Submit"><br>
    <h4>Yeah add a burger you're cravin' and then hit the "Submit" button</h4>
</form>

</div>
